/* Scroll snapping behavior */
html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

/* Scroll snapping behavior */
.scroll-snap-start {
  scroll-snap-align: start;
  scroll-margin-top: 4rem;
}


/* Font Code */
body {
  font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 300 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600 !important;
  letter-spacing: 0.2rem;
}
.title {
  letter-spacing: 0.2rem;
  font-weight: 600 !important;
}
.menu {
  font-weight: 600 !important;
  font-size: small;
}

::-webkit-input-placeholder {
  font-size: 0.8em;
  font-weight: 500 !important;
  text-transform: capitalize;
}
::placeholder {
  font-size: 0.8em;
  font-weight: 500 !important;
  padding: 1ex;
  text-transform: capitalize;
}
.card-group-vertical > .card:not(:first-child):not(:last-child) {
  border-radius: 0px;
  border-bottom: 0px;
  border-top: 0px;
  border-bottom: 0px;
}

.card-body {
  padding: 0.6rem 1.4rem;
}

.card-group-vertical {
  border: 0px;
}

.card-group-vertical > .card:not(:first-child):not(:last-child) {
  flex: 1 1 auto;
}
.card-group-vertical > .card-group {
  flex: 1 1 auto;
}

d-flex
.card-group-vertical > .card:first-child {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom: 0px;
  padding-bottom: 1rem;
}

.card-group-vertical > .card:last-child {
  border-top: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
d-flex
.card-group-vertical > .card-group:not(:last-child) > .card {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top: 0px;
  border-bottom: 0px;
}

.card-group > .card:not(:first-child):not(:last-child) {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

.card-group > .card:first-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.card-group > .card:last-child {
  border-top-left-radius: 0px;

  border-top-right-radius: 0px;
}

/* Page content width - grows from 70vw to 80vw as screen shrinks, never less than 80vw */
.width-80 {
  max-width: min(calc(70vw + 4rem), 80vw);
}

.hero-img {
  filter: brightness(60%);
  height: 100dvh;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

/* Smaller screen width -> smaller image height :: min of 20 */
.hero-img-short {
  filter: brightness(60%);
  height: calc(30dvh + 4vw);
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.hero-text-short {
  height: calc(31dvh + 4vw);
  width: 100%;
}

#navbar{
  transition:  250ms ease-in-out;
}

.question {
  padding:4rem;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}
